# ----- Python -----
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/
*.manifest
*.spec
.vscode/
.idea/
*.swp
*.swo
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
.ipynb_checkpoints
.mypy_cache/
.dmypy.json
dmypy.json
.pylint.d/
*.log
logs/
.env
.env.*

# ----- Docker -----
docker-compose.override.yml
**/Dockerfile~
**/Dockerfile.*.bak
.cache/
*.pid
*.pid.lock
*.log
logs/
